<%- include('./templates/head') %> 
<body>
    <!-- NAVIGATION -->
    <%- include('./templates/navbar')  %>
    <h1>404 PAGE NOT FOUND</h1>
    <!-- FOOTER -->
    <%- include('./templates/footer') %>
</body>
</html>