<%- include('./templates/head') %> 
<body>
    <!-- NAVIGATION -->
    <%- include('./templates/navbar')  %> 
    <div class="aboutme">
        <img id="profile" src="./images/myface.jpg" alt="kevinpicture" height="100%" width="280px">
        <div class="about-text">
            <h1 class="logo">Kevin Perea Enriquez.</h1>
            <br>
            <p>Born in Cali, (Colombia) raised in Barcelona, (Spain) and based in Hamburg, (Germany). <br> I been coding since i was 18, and this year 2022 i finally decided to improve my skills and my knowledge to become a fullstack web developer! 
                <br>I'm currently working on my own personal projects, as well as side jobs related to development and programming. <br>I got the chance to form part of WBS Coding School, wich taught me many valuable skills. Check it out:</p>
        </div>
    </div>
    <div class="skills">
        <div class="skills-text">
            <h1 class="logo">Skills</h1>
            <p>My daily used tools and languages</p>
        </div>
        <div class="skill-icons">
            <img src="./images/mongo.png">
            <img src="./images/css.png">
            <img src="./images/html.png">
            <img src="./images/jav.png">
       </div>
       <div class="skills-grid">
        <div>
            <h1>Web Development</h1>
            <br>
            <p>HTML5, CSS, Javascript, Node, Express and GIT</p>
        </div>
        <div>
            <h1>Languages and Frameworks</h1>
            <br>
            <p>React, Nodemon, EJS, Express.</p>
            <p>Phyton and SQL</p>
        </div>
        <div>
            <h1>DataBases</h1>
            <br>
            <p>MongoDB and MySQL</p>
        </div>
        <div>
            <h1>Extras</h1>
            <br>
            <p>Figma, Photoshop CS6, Runjs, SonyVegas 16 and VSCode.</p>
            <p>Fluent English, Spanish, German and Catalan</p>
            <p>Driver license :)</p>
        </div>
    </div>
    </div>
    <div class="tools">
        <div class="tools-text">
            <h1 class="logo">What do i use?</h1>
            <p>Set up, computer and tools</p>
        </div>
        <div class="asuspc">
            <img src="./images/asus.png" height="auto" width="500px">
            <p class="logo">ASUS ROG Zephyrus G14</p>
            <p>AMD Ryzen 9 5900HS, 8 cores</p>
            <p>1TB SSD, 16GB RAM</p>
            <p>NVIDIA 3060 RTX (6VRAM)</p>
        </div>
    </div>
    <!-- FOOTER -->
    <%- include('./templates/footer') %>
</body>
</html>