<%- include('./templates/head') %> 
<body>
 <!-- NAVIGATION -->
 <%- include('./templates/navbar')  %> 
 <div class="socials">
  <h1 class="logo">My social media</h1>
  <br>
  <a href="https://www.instagram.com/saintkevinst/" target="_blank"><img src="./images/insta.png"></a>
  <a href="https://www.facebook.com/grandaragornd/" target="_blank"><img src="./images/facebook.png"></a>
  <a href="https://github.com/grandaragornd" target="_blank"><img src="./images/github.png"></a>
  <a href="https://www.linkedin.com/in/kevin-perea-enriquez/" target="_blank"><img src="./images/linkedin.png"></a>
</div>
    <div class="contact">
        <h1 class="logo">Contact me!</h1>
        <br>
        <p>Send me a message! You will recieve a response within 12 hours!</p>
    </div>
    <div class="container-form">
      <form class="form" method="POST" action="https://getform.io/f/86537289-4693-4bb5-b5fa-ef02736c1a18">
        <input type="text" class="field" name="name" placeholder="Name">
        <input type="email" class="field" name="email" placeholder="Email">
        <input type="text" class="field" name="subject" placeholder="Subject">
        <textarea type="message" class="field" name="message" placeholder="Message"></textarea>
        <div>
          <button class="button" type="send">Send</button>
          <button class="button" type="reset">Clear</button>
        </div> 
      </form>
    </div>
    
  <!-- FOOTER -->
  <%- include('./templates/footer') %>
</body>
</html>