<%- include('./templates/head') %> 
<body>
    <!-- NAVIGATION -->
    <%- include('./templates/navbar')  %>
    <!-- HEADER -->
    <div class="header">
        <div class="text-header">
            <h2 class="logo">I'm Kevin Perea Enriquez</h2>
            <br />
            <h1>Web & App Developer</h1>
            <br />
            <h2>Frontend & Backend</h2>
            <p>Based in Hambrug, Germany</p>
        </div>
    </div>
    <!-- PROJECTS -->
    <div class="projects">
        <div class="projects-title">
            <h1 class="logo">My Projects</h1>
            <p>Check out my projects and current works!</p>
        </div>
        <div class="projects-container">
            <div class="box1">
                <div class="box-text">
                    <h2>Kevin's Pictures</h2>
                    <p>Check out my pictures in full quality that i been collecting since i was 15 years old!</p>
                </div>
            </div>
            <div class="box2">
                <div class="box-text2">
                    <h2>COVIDPORTAL</h2>
                    <p>As an old worker in a testing station, i decided to re-create a booking/appointment webpage with 3 avaliable covid19 tests. Select a test, a date and fill your basic information to get an appointment to the selected station to get the test.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- MY EDUCATION -->
    <div class="education">
        <div class="bernatmetge">
            <img src="./images/marcainstitut.jpg" alt="logobernat" height="50%" width="auto">
            <div class="bernattext">
                <h1>Institut Bernat Metge</h1>
                <h2>Secondary School</h2>
                <p>2016-2018, Barcelona, Spain</p>
            </div>
        </div>
        <div class="wbscodingschool">
            <img src="./images/codingschool.png" alt="wbslogo" height="50%" width="auto">
           <div class="wbstext">
                <h1>WBS Coding School</h1>
                <h2>Full Stack Web and App Development</h2>
                <p>2022, Hamburg, Germany</p>
           </div>
        </div>
    </div>
    <!-- INVITATION -->
    <div class="invitation">
        <div class="invitation-text">
            <h1 class="logo">Im looking for my first job as a web developer!</h1>
            <br />
            <p><a style="color: purple;" href="https://drive.google.com/file/d/1H9pyyUyq_75tb7V4AMYxL2xVs1Fbsxre/view?usp=sharing" target="_blank">Click here</a> to see my CV for a more detailed overview of my experience.</p>
            <p>Im open for any time of project or side jobs, i want to earn experience!</p>
        </div>
    </div>
    <!-- FOOTER -->
    <%- include('./templates/footer') %> 
</body>
</html>