<div class="footer">
    <a href="https://drive.google.com/file/d/1SZQkvC_I3Ll0ti7eI4vNkmcK3QBy_UuN/view?usp=sharing" target="_blank"><p>CV</p></a>
    <a href="#"><p>Top</p></a>
    <a href="/"><p>Home</p></a>
</div>