<div class="footer">
    <a href="https://drive.google.com/file/d/1H9pyyUyq_75tb7V4AMYxL2xVs1Fbsxre/view?usp=sharing" target="_blank"><p>CV</p></a>
    <a href="#"><p>Top</p></a>
    <a href="/"><p>Homepage</p></a>
</div>