
<nav>
        <div class="logo">
            <a href="/"><h1>KEV</h1></a>
        </div>
        <ul class="nav-link">
            <li><a href="/"><p style="color: black;">Home</p></a></li>
            <li><a href="/aboutme"><p style="color: black;">About me</p></a></li>
            <li><a href="/contact"><p style="color: black;">Contact</p></a></li>
        </ul>
        <div class="burger" onclick="burgerMenu()">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
        </div>
</nav>
